body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navBar{
    width: calc(100% - 10px);
    height: 60px;
    background: #5DADE2;
    border-radius: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.navBar ul{
    list-style: none;
    display: inline-flex;
}

.navBar li{
    margin-left: 10px;
}

.navBar a{
    color:darkblue;
}

.main_wrap{
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
}

.sideBar{
    width: 20%;
    min-height: 100%;
    background: #AED6F1;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.sideBar li{
    list-style: none;
}

.sideBar a{
    color: darkblue;
}


.body {
    width: 80%;
    min-height: 100%;
    display: flex;
}

.body > div{
    margin: 10px;
}

.profile{
    background: #AED6F1;
    color: darkblue ;
    width: 40%;
    border-radius: 30px;
    padding: 25px;
    overflow-x: auto;
    height: fit-content;
    height: -moz-fit-content;
}

.profile p{
    word-break: break-word;
}

.profile a {
    color: darkblue;
}

.search{
    background: #AED6F1;
    width: 40%;
    border-radius: 30px;
    padding: 25px;
    color: darkblue ;
    height: fit-content;
    height: -moz-fit-content;
}

.follow{
    background: #AED6F1;
    width: 40%;
    border-radius: 30px;
    padding: 25px;
    color:darkblue;
    overflow-x: auto;
    height: fit-content;
    height: -moz-fit-content;
}

.follow a {
    color: darkblue;
}

.postDetail{
    background: #AED6F1;
    width: 50%;
    padding: 25px;
    border-radius: 30px;
    color: darkblue;
    height: fit-content;
    overflow-x: auto;
    height: -moz-fit-content;
}

.postDetail a{
    color: darkblue;
}

.postDetail p{
    word-break: break-word;
}

.createPost{
    width: 50%;
    background: #AED6F1;
    color: darkblue;
    padding: 25px;
    border-radius: 30px;
    height: fit-content;
    height: -moz-fit-content;
}


.updateProfile{
    width: 50%;
    background: #AED6F1;
    color: darkblue;
    padding: 25px;
    border-radius: 30px;
    height: fit-content;
    height: -moz-fit-content;
}


.logIn{
    width: 50%;
    background: #AED6F1;
    color: darkblue;
    padding: 25px;
    border-radius: 30px;
    height: fit-content;
    height: -moz-fit-content;
}

.signUp{
    width: 50%;
    background: #AED6F1;
    color: darkblue;
    padding: 25px;
    border-radius: 30px;
    height: fit-content;
    height: -moz-fit-content;
}

.verification{
    width: 50%;
    background: #AED6F1;
    color: darkblue;
    padding: 25px;
    border-radius: 30px;
    height: fit-content;
    height: -moz-fit-content;
}