{% extends 'socialMediaApp/base.html' %}

{% block nav %}
    <ul>
        <li><a href="{% url 'signUp' %}">Sign Up</a></li>
        <li><a href="{% url 'logIn' %}">Log In</a></li>
    </ul>
{% endblock %}

{% block title %}
    Create Post
{% endblock %}

{% block sidebar %}
    <ul>
        <li>
            <a href="{% url 'profile' user_pk %}">Back to profile</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="createPost">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Post">
        </form>
    </div>
{% endblock %}