{% extends 'socialMediaApp/base.html' %}

{% block title %}
    Verification
{% endblock %}


{% block nav %}
    <ul>
        <li><a href="{% url 'signUp' %}">Sign Up</a></li>
        <li><a href="{% url 'logIn' %}">Log In</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="verification">
        <h1>Please Verify yourself</h1>
        <div>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Verify">
            </form>
        </div>
        <h2>{{ message }}</h2>
    </div>
{% endblock %}

