{% extends 'socialMediaApp/base.html' %}
{% load timeProcess %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <div>
        <h1>{{ object.email }} Profile</h1>
        {% if post_list|length > 0 %}
            <h2>Posts {{ post_list|length }} :</h2>
            <ul>
                {% for post in post_list %}
                    <li>
                        <a href="{% url 'viewPostDetail' foreignUser_pk object.pk post.pk %}">
                            {{ post.title }}
                        </a>
                        {% timeProcess post.date %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>There is no post</h2>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'userFollow' foreignUser_pk object.pk %}">{{ followText }}</a>
    </div>
    <div>
        <h2>Following: </h2>
        {% if followedUsers|length == 0 %}
            <p>This user doesnt' follow any user</p>
        {% else %}
        {% for followedUser in followedUsers %}
            <h3>
                <a href="{% url 'viewProfile' foreignUser_pk followedUser.following.pk %}">
                    {{ followedUser.following }}
                </a>
            </h3>
            <ul>
                {% if followedUser.following.post_set.all|length > 0 %}
                    {% for post in followedUser.following.post_set.all %}
                        <li>
                            <a href="{% url 'viewPostDetail' foreignUser_pk followedUser.following.pk post.pk %}">
                                {{ post.title }}
                            </a>
                            <br/>
                            <a href="{% url 'viewPostDetail' foreignUser_pk followedUser.following.pk post.pk %}">
                                <button>Comment</button>
                            </a>
                            <a href="{% url 'postLike' foreignUser_pk post.pk %}">
                                <button>Like {{ post.likes_count }}</button>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>This user have no post.</li>
                {% endif %}
            </ul>
        {% endfor %}
        {% endif %}
    </div>
    <div>
        <h2>Followers: </h2>
        {% if userFollowers|length == 0 %}
            <p>This user doesn't have any followers</p>
        {% else %}
            {% for userFollower in userFollowers %}
                <h3>
                    <a href="{% url 'viewProfile' foreignUser_pk userFollower.user.pk %}">
                        {{ userFollower.user }}
                    </a>
                </h3>
                <ul>
                    {% if userFollower.user.post_set.all|length > 0 %}
                        {% for post in userFollower.user.post_set.all %}
                            <li>
                                <a href="{% url 'viewPostDetail' foreignUser_pk userFollower.user.pk post.pk %}">
                                    {{ post.title }}
                                </a>
                                <br/>
                                <a href="{% url 'viewPostDetail' foreignUser_pk userFollower.user.pk post.pk %}">
                                    <button>Comment</button>
                                </a>
                                <a href="{% url 'postLike' foreignUser_pk post.pk %}">
                                    <button>Like {{ post.likes_count }}</button>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>This user have no post.</li>
                    {% endif %}
                </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
